.navbar {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.navbar__item {
  display:flex;
}
.navbar__link {
  align-items: center;
  display: flex;
}


/**
 * Skin
 */
.navbar {
  @apply text-xs;
  @screen xl {
    @apply text-sm;
  }
}
.navbar__item {}
.navbar__link {
  @apply text-gray-500;
  @apply px-4 py-2;
  transition: 0s;
}
.navbar__item:hover > .navbar__link {
  @apply text-white no-underline;
  transition: 0.15s;
}
.navbar__item:nth-child(3n+1):hover > .navbar__link {
  @apply bg-green-500;
}
.navbar__item:nth-child(3n+2):hover > .navbar__link {
  @apply bg-magenta-500;
}
.navbar__item:nth-child(3n+3):hover > .navbar__link {
  @apply bg-orange-500;
}

/**
 * Navbar Dropdowns
 */
.navbar__item:nth-child(3n+2) .dropdown__link {
  @apply bg-magenta-700 text-magenta-200;
}
.navbar__item:nth-child(3n+2) .dropdown__link:hover {
  @apply bg-magenta-600;
}
.navbar__item:nth-child(3n+3) .dropdown__link {
  @apply bg-orange-700 text-orange-200;
}
.navbar__item:nth-child(3n+3) .dropdown__link:hover {
  @apply bg-orange-600;
}