{% include 'breadcrumbs' %}
{% include 'page-header' %}
<div class="w-full px-4 mx-auto max-w-3xl my-8">
	<h2>We're sorry, but the page you're looking for could not be found. </h2>
	<p>Go back to our <a href="{{ shop.url }}">homepage</a> or view our range of <a href="{{ shop.url }}/collections/all">products</a>.</p>
</div>
