{% include 'breadcrumbs' %}
<header class="my-8 lg:my-16">
    <h1 class="text-center">{{ article.title }}</h1>
    <p class="text-sm text-center">
      Posted by {{ article.author }} - {{ article.published_at | date: "%B %d %Y" }}
    </p>
</header>
<div class="max-w-3xl px-4 mx-auto my-8">
  <article>
    {{ article.content }}
  </article>
</div>
      