<!DOCTYPE html>
<html>
  <head>
    {% include 'head' %}
    {{ content_for_header }}
  </head>
  <body
    class="page-{{
      page_title | handle
    }} {% if customer %}customer-logged-in {% endif %}template-{{
      template | split: '.' | first | remove: '/' | remove: '_'
    }}"
  >
    {% include 'header' %}

    <main id="content" role="main">
      {{ content_for_layout }}
    </main>

    {% include 'footer' %}
  </body>
</html>
